In [7]:
#Question 1
import pandas as pd

data = [4, 8, 15, 16, 23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
#Question 2

import pandas as pd
data_list = [1,2,34,4,5,6,7,8,9,10]
series = pd.Series(data_list)
print(series)

0     1
1     2
2    34
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [13]:
#Question 3

import pandas as pd 
data = {'Name' : ['Alice' , 'Bob' , 'Claire'] , 'Age' : [25 , 30, 27] , 'Gender' : ['Female' , 'Male' , 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Question 4

 A DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types. It is similar to a spreadsheet or SQL table, where each column can have a different type (e.g., numeric, string, boolean) and each row represents a unique observation or record.
    
    
    import pandas as pd 
data = {'Name' : ['Alice' , 'Bob' , 'Claire'] , 'Age' : [25 , 30, 27] , 'Gender' : ['Female' , 'Male' , 'Female']}
df = pd.DataFrame(data)
print(df)

In [ ]:
#Question 5

`read_csv()`: Load data from a CSV file.
`fillna()`: Replace missing values in a DataFrame.
`mean()`: Calculate the mean of a Series or DataFrame.
`std()`: Calculate the standard deviation of a Series or DataFrame.

In [ ]:
#Question 6